Bastian Kleineidam <bastian.kleineidam@web.de>
Bastian Kleineidam <bastian.kleineidam@web.de> <calvin@debian.org>
Dirk Reiners <reiners@destiny.ualr.edu> <dirkreiners@users.noreply.github.com>
Dirk Reiners <reiners@destiny.ualr.edu> <reiners@localhost-144-167-115-170.ddns.ualr.edu>
Helge Stasch <freestila@gmx.de>
Helge Stasch <freestila@gmx.de> <helge.stasch@inform-software.com>
Tobias Gruetzmacher <tobias-git@23.gs> <tobias-github@23.gs>
