language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
cache: pip
# install libjpeg-dev for Pillow to handle JPEGs
sudo: false
addons:
  apt:
    packages:
      - libjpeg-dev
# command to install dependencies
install:
  - pip install tox-travis coveralls python-dateutil
# command to run tests
script: tox
after_success:
      coveralls
notifications:
  irc:
    channels:
      - "chat.freenode.net#dosage"
    use_notice: true
    skip_join: true
