include MANIFEST.in
include COPYING Makefile requirements.txt
include doc/Makefile doc/*.txt doc/*.1 doc/*.html
include doc/css/*.css doc/js/*.js
include scripts/*.py scripts/*.sh scripts/*.bat
recursive-include tests *.py
