colorama
imagesize
lxml
requests>=2.0
six
backports.shutil_get_terminal_size; python_version<'3.3'
backports.functools_lru_cache; python_version<'3.2'
cached_property; python_version<'3.8'
importlib_metadata; python_version<'3.8'
