---
name: GitHub Pages

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 10

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Build
        run: |
          sudo apt-get --yes install --no-install-recommends libimage-exiftool-perl
          pip install wheel
          pip install git+https://github.com/spanezz/staticsite.git@v2.3
          ssite build --output public

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          cname: dosage.rocks
          github_token: ${{ secrets.GITHUB_TOKEN }}
          exclude_assets: 'Jenkinsfile,dosagelib,scripts,setup.*,tests,*.ini'
